<!DOCTYPE html>
<html>
  <head>
    <meta charset="=utf-8">
    <title>Kinemaker Simulator </title>
    <style>
    body {margin:0;}
    canvas{width:100%; height:100%;}
    </style>
  </head>

  <!-- <div class="top-buttons">
    <button class="ui blue button" id="import" onclick="onSTLLoad">
      STL Import
    </button>
    <button class="ui grey button" id="mode">
      Simulate
    </button>
  </div> -->

  <body>
    <script src="build/react.js"></script>
    <script src="build/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>


    <script src="libs/three.js"></script>
    <script src="libs/dat.gui.js"></script>
    <script src="libs/OrbitControls.js"></script>
    <script src="libs/STLLoader.js"></script>

    <script src="js/setup.js"></script>
    <script src="js/event.js"></script>
    <script src="js/widgets.js"></script>
    <!-- <script src="js/ui.js"></script> -->

    <script src="js/gears/cam.js"></script>
    <script src="js/gears/jumper.js"></script>
    <script src="js/gears/doubleCam.js"></script>
    <script src="js/simulation.js"></script>

    <!-- <div id="content"></div>


    <script type="text/babel">

    var CommentList = React.createClass({
    render: function(){
    return(
    <div className="commentList">
    Hello, world! I am a commentList
  </div>
  );
  }
  });
  var CommentForm  = React.createClass({
  render: function(){
  return (

  <div className="commentForm">
  I am a CommentForm
  </div>
  );
  }
  });

  var CommentBox = React.createClass({
  componentDidMount: function(){
  console.log(this.props)
  },
  render: function(){
  return(
  <div className="commentBox">
  <h1>Comments</h1>
  <CommentList />
  <CommentForm />
  <input type="submit" name="Enter"></input>
  </div>
  )
  }
  });

  ReactDOM.render(
  <CommentBox/>,
  document.getElementById('content')
  );

  </script> -->
  </body>
</html>
